.box-formulario{
    display: flex;
    box-shadow: 2px 2px 5px var(--cor-10);
    border-radius: 5px;
}
.img-form{
    display: flex;
    padding: 16px;
    justify-content: center;
    background-color: var(--cor-p6);
    width: 1fr;
    border-radius: 5px 0px 0px 5px;
    min-width: 100px;
}
.img-form img{
    width: 600px;
}
.formulario{
    display: flex;
    width: 60%;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0px;
    background-color: var(--cor-e1);
    visibility: visible;
    align-items: center;
    border-radius: 0px 5px 5px 0px;
}
.titulo-empresa{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-bottom: 10px;
}
.titulo-empresa h1{
    position: relative;
}
.titulo-empresa h1::after{
    content: '';
    display: block;
    width: 15%;
    height: 5px;
    background-image: linear-gradient(to right, var(--cor-10), var(--cor-p4));
    border-radius: 2px;
    position: absolute;
    transition: 0.3s;
}
.titulo-empresa h1:hover::after{
    width: 100%;
}
.header-f{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px ;
    padding: 20px 0px;
}
.header-f h1{
    position: relative;
    padding-left: 8px;
}
.header-f h1::before{
    content: '';
    display: block;
    width: 95%;
    height: 3px;
    background-color: var(--cor-p6);
    position: absolute;
    left: 8px;
    bottom: -4px;
    transition: 0.4s;
}
.header-f h1:hover::before{
    background-color: var(--cor-4);
}
.input-form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px 30px;
    padding: 10px 0px;
    padding-bottom: 20px;
}
.inputs{
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}
.inputs input, .inputs select{
    display: flex;
    flex-direction: row-reverse;
    border: none;
    text-align: center;
    padding: 5px;
    border-left: 2px solid var(--cor-12);
    border-bottom: 2px solid var(--cor-12);
    background-color: var(--cor-e2);
    color: var(--cor-1);
    width: 90%;
    font-family: 'Roboto', 'Poppins', sans-serif;
    font-size: 1.125rem;
}
.inputs select{
    width: 95%
}
.inputs label{
    padding-left: 5px;
    margin-bottom: 5px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}
.generos{
    margin-top: 10px;
}
.generos h3{
    margin-bottom: 20px;
}
.caixa-genero{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px 20px;
    margin-bottom: 20px;
}
.input-genero input, .input-genero label{
    cursor: pointer;
}
.notificacoes{
    padding-bottom: 5px;
}
.autorizar{
    padding-bottom: 20px;
}
.autorizar input, .autorizar label, .notificacoes input, .notificacoes label{
    cursor: pointer;
}
/*medias-responsivo*/
@media(max-width: 1300px){
    .img-form{
        padding: 12px;
    }
    .img-form img{
        width: 450px;
    }
}
@media(max-width: 1100px){
    .img-form{
        padding: 10px;
    }
    .img-form img{
        width: 400px;
    }
    .formulario{
        padding: 15px 0px;
    }
    .inputs input, .inputs select{
        font-size: 1rem;
        width: 85%;
    }
    .inputs select{
        width: 90%
    }
    .input-form,.header-f,.generos,.autorizacoes{
        margin-left: 10px;
    }
    .inputs > label{
        font-size: 0.8rem;
    }
}
@media(max-width: 1000px){
    .titulo-empresa h1{
        font-size: 2rem;
    }
    .header-f h1{
        font-size: 1.25rem;
    }

    .inputs select, .inputs input{
        font-size: 0.9rem;
    }
    .generos{
        margin-top: 0px;
    }
    .generos h3{
        font-size: 1.125rem;
        margin-bottom: 5px;
    }
    .caixa-genero{
        gap: 10px 20px;
        margin-bottom: 10px;
    }
    .input-genero input, .input-genero label{
        font-size: 0.9rem;
    }
    .notificacoes{
        padding-bottom: 5px;
    }
    .autorizar{
        padding-bottom: 20px;
    }
    .autorizar input, .autorizar label, .notificacoes input, .notificacoes label{
        font-size: 0.9rem;
    }
    .input-form{
        gap: 5px 20px;
        padding: 10px 0px;
        padding-bottom: 10px;
    }
}
@media(max-width: 1000px){
    .titulo-empresa h1{
        font-size: 2rem;
    }
    .header-f h1{
        font-size: 1.25rem;
    }

    .inputs select, .inputs input{
        font-size: 0.9rem;
    }
    .generos{
        margin-top: 0px;
    }
    .generos h3{
        font-size: 1.125rem;
        margin-bottom: 5px;
    }
    .caixa-genero{
        gap: 10px 20px;
        margin-bottom: 10px;
    }
    .input-genero input, .input-genero label{
        font-size: 0.9rem;
    }
    .notificacoes{
        padding-bottom: 5px;
    }
    .autorizar{
        padding-bottom: 20px;
    }
    .autorizar input, .autorizar label, .notificacoes input, .notificacoes label{
        font-size: 0.9rem;
    }
    .input-form{
        gap: 5px 20px;
        padding: 10px 0px;
        padding-bottom: 10px;
    }
}
@media(max-width: 900px){
    .img-form{
        padding: 5px;
    }
    .img-form img{
        width: 300px;
    }
    .formulario{
        padding: 5px 0px;
        width: 65%;
    }
    .input-form{
        padding-top: 0px;
    }
    .inputs input, .inputs select{
        font-size: 1rem;
        width: 80%;
    }
    .inputs select{
        width: 85%
    }
    .input-form,.header-f,.generos,.autorizacoes{
        margin-left: 8px;
    }
    .titulo-empresa h1, .titulo-empresa img{
        margin-top: 5px;
        font-size: 1.75rem;
    }
    .inputs select, .inputs input{
        font-size: 0.8rem;
    }
    .input-genero input, .input-genero label{
        font-size: 0.8rem;
    }
    .notificacoes{
        padding-bottom: 5px;
    }
    .autorizar{
        padding-bottom: 10px;
    }
    .autorizar input, .autorizar label, .notificacoes input, .notificacoes label{
        font-size: 0.8rem;
    }
    .input-form{
        gap: 5px 10px;
        padding-bottom: 10px;
    }
}
@media(max-width: 700px){
    .formulario{
        width: 100%;
        border-radius: 5px;
    }
    .img-form{
       display: none;
    }
}
@media(max-width: 500px){
    #caixa{
        width: auto;
        height: auto;
    }
    .input-form{
        grid-template-columns: 1fr;
        margin: 0px 18px 0px 10px;
    }
    .inputs select, .inputs input{
        width: auto;
        padding-left: 0px;
    }
    .header-f h1::before{
        display: none;
    }
}
@media(max-width: 315px){
    .header-f{
        display: flex;
        grid-template-columns: auto;
        justify-content: center;
        flex-direction: column-reverse;
        gap: 10px;
    }
    .header-f h1{
        padding: 0px 5px 0px 5px;
    }
    .caixa-genero{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}